/*:global(#mmPage){*/
  /*background: #ffc0cb1f !important;*/
/*}*/

:global(.header) {
  color: pink;
  border-bottom: 1px solid pink;
}

:global(.pic-card) {
  width: 240px;
}

:global(.index-page) {
  text-align: center;
  margin: 20px 0 10px 0;
}

:global(.mm-title) {
  display: flex;
  align-items: center;
}
:global(.mm-title h2){
  margin-top: 10px;
}

:global(.mm-title p) {
  margin-left:10px;
  margin-top: 20px;
}

