:global(.pic-card-div) {
  display: inline-block;
  margin: 0 10px 20px 10px;
  border: 1px solid #ddd6d6;
  background: white;
}

:global(.pic-card-tip) {
  font-size: 12px ;
  text-align: center;
}

:global(.pic-card-div .ant-card-meta-title) {
  text-align: center;
}
